# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# DATABASE_URL="mysql://root:myRoTpass1ord@localhost:3306/sportApp?schema=public"
# DATABASE_URL="postgresql://johndoe:randompassword@localhost:5432/mydb?schema=public"

# Rename this file to .env
POSTGRES_USER="user"
POSTGRES_PASSWORD="myRoTpass1ord"
POSTGRES_DB="sportapp"
POSTGRES_HOST="localhost"   
POSTGRES_PORT="5432"
DATABASE_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}?schema=public"
FCM_PRIVATE_JSON = "./fcm_private_key.json"